<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <div class="icon-menu">
        <ion-icon name="menu"></ion-icon>
      </div>
    </button>
    <ion-title> Wyślij Wiadomość</ion-title>
  </ion-navbar>
</ion-header>
  <ion-content ngInit="listenNFC()">
        <h3> Aby wysłać wiadomość przyłóż znacznik NFC do telefonu.</h3>
        <h5> Wiadomość</h5>
      <label class="item item-input" name="textArea">
        <textarea [(ngModel)]= "testProvider.message" placeholder="Napisz wiadomość...">{{testProvider.message}}</textarea>
        <div contenteditable="true" ></div>
      </label>
      <div class="button">
    <button color="button" ion-button (click) = "selectTemplate()">Szablony</button>
      </div>
      <!--<ion-item class="info">
        <p> NFC tag ID: {{tagID}}</p>
        <p> Decode Tag: {{decodeTag}}</p>
        <p> key: {{testProvider.key}}</p>
        <p> groupid: {{testProvider.IdGroup}}</p>
      </ion-item>-->
      <ion-item class="info">
        <ion-label fixed> Adres Serwera: </ion-label>
        <ion-input type="text" value="" [(ngModel)]= "testProvider.adresServera">{{testProvider.adresServera}}</ion-input>
      </ion-item>
      <ion-item class="info">
        <ion-label fixed> Port: </ion-label>
        <ion-input type="text" value="" [(ngModel)]= "testProvider.port">{{testProvider.port}}</ion-input>
      </ion-item>
<!--
      <div class="NFCon" *ngIf="isNFCisActive()">
        <ion-icon name="checkmark-circle" > NFC włączone</ion-icon>
      </div>
      <div class="NFCoff" *ngIf="isNFCUnactive()">
      <ion-icon name="close-circle"> NFC wyłączone</ion-icon>
      </div>
-->
  </ion-content>