<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Szablony</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding="true" class="has-header">
<div *ngIf="!isNoTemplates();">
  <ion-list radio-group [(ngModel)]= "selectTemplate">
    <ion-list-header>
      Wybierz odpowiedni szablon
    </ion-list-header>
    <ion-item *ngFor="let template of jsonobject">  
      <ion-label value="template.template">{{template.template}}</ion-label>
      <ion-radio item-left value="{{template.template}}" ></ion-radio>
      <ion-select  interface="popover" [(ngModel)]= "selectOption" >
        <ion-option  *ngFor="let value of template.select" value ="{{value.value}}">{{value.value}}</ion-option>
      </ion-select>
      <ion-select *ngIf="template.add!=null"  interface="popover" [(ngModel)]= "selectOptionAdd" >
          <ion-option  *ngFor="let value of template.add" value ="{{value.value}}" >{{value.value}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button (click)="przekazwiadomosc()"> Wybierz </button>
</div>

 <div class="NFCon" *ngIf="isNoTemplates();">
       <h3>Nie można pobrać danych z serwera. </h3>
       <button ion-button navPop>Cofnij</button>
      </div>
  </ion-content>
