page-page3 {
  p {
    color:#000000;

  }

  .toolbar-background {
    background-color: #2196F3;
  }

  .icon{
    color: white;
  }

  h3 {
    text-align: left;
    opacity: 0.87;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-left: 16px;
    font-size: 18px;
    padding-right: 16px;
  }
}
