page-page3 {
  
    font-family: 'Roboto',sans-serif;
    $button-md-margin-top:	.4rem	;
    $button-md-margin-end:	.2rem	;
    $button-md-margin-bottom:	.4rem	;
    $button-md-margin-start:	.2rem	;
    $button-md-padding-top:	0	;
    $button-md-padding-end:	1.1em	;
    $button-md-padding-bottom	:$button-md-padding-top	;
    $button-md-padding-start:	$button-md-padding-end	;
    $button-md-border-radius:	2px	;
    $button-md-font-size:	1.4rem	;
    $button-md-font-weight:	500	;
    $button-md-large-padding-top:	0	;
    $button-md-large-padding-end: 1em	;
    $button-md-large-padding-bottom	:$button-md-large-padding-top	;
    $button-md-large-padding-start:	$button-md-large-padding-end	;
    $button-md-large-font-size:	2rem	;
    $button-md-small-padding-top:	0	;
    $button-md-small-padding-end	:.9em	;
    $button-md-small-padding-bottom	:$button-md-small-padding-top	;
    $button-md-small-padding-start:	$button-md-small-padding-end	;
    $button-md-small-font-size:	1.3rem	;

    $list-md-margin-top:	16px	;
    $list-md-margin-end:	$list-md-margin-right	;
    $list-md-margin-bottom:	16px	;
    $list-md-margin-start:	$list-md-margin-left	;
    $list-inset-md-margin-top:	16px	;
    $list-inset-md-margin-end:	$list-inset-md-margin-right	;
    $list-inset-md-margin-bottom:	16px	;
    $list-inset-md-margin-start:	$list-inset-md-margin-left	;
    $list-inset-md-border-radius:	2px	;
    $list-md-header-margin-bottom:	13px	;
    $list-md-header-padding-start:	$list-md-header-padding-left	;
    $list-md-header-min-height:	4.5rem	;
    $list-md-header-border-top:	1px solid $list-md-border-color	;
    $list-md-header-font-size:	1.4rem	;
    $list-md-header-color:	#757575	;
  
  ion-list-header{
    margin-top:   $list-md-margin-top;
    margin-block-end:   $list-md-margin-end;
    margin-bottom:  $list-md-margin-bottom;
    margin-block-start:  $list-md-margin-start;
    min-width: 100%;
    box-sizing: border-box;
    border: none;
    resize: none;
    opacity: 0.87;
  }

  .button{
    margin-top:  $button-md-margin-top;
    margin-block-end:  $button-md-margin-end;
    margin-bottom:  $button-md-margin-bottom;
    margin-block-start:  $button-md-margin-start;
    float: right;
    font-weight: $button-md-font-weight;
    border-radius: $button-md-border-radius;
   }
  
   h3{
    text-align: left;
    opacity: 0.87;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
   }
  
  .info{
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 14px;
  }
  
  .toolbar-background {
    background-color: #2196F3;
  }
  
  .icon-menu{
    color: white;
  }

  
  @media  (max-width: 359px){

    ion-label{
      font-size: 14px;

    }

    ion-select{
      font-size: 14px;
    }
  
    h3 {
      font-size: 16px;
    }
      .button{
        padding-left: $button-md-small-padding-start;
        padding-right: $button-md-small-padding-end	;
        padding-top: $button-md-small-padding-top	;
        padding-bottom: $button-md-small-padding-bottom;
        font-size: $button-md-small-font-size	;  
      }
  

    }
  
  
  @media  (min-width: 360px) and (max-width: 575px) {
    ion-label{
      font-size: 18px;
    }

    ion-select{
      font-size: 18px;
    }

    h3 {
      font-size: 18px;
    }
      .button{
        padding-left: $button-md-small-padding-start;
        padding-right: $button-md-small-padding-end	;
        padding-top: $button-md-small-padding-top	;
        padding-bottom: $button-md-small-padding-bottom;
        font-size: $button-md-small-font-size	;
       }
  
    }
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767px) {
    ion-label{
      font-size: 20px;
    }
  
    ion-select{
      font-size: 20px;
    }
    h3 {
      font-size: 20px;
    }
    .button{
      padding-left: $button-md-padding-start;
      padding-right: $button-md-padding-end	;
      padding-top: $button-md-padding-top	;
      padding-bottom: $button-md-padding-bottom;
      font-size: $button-md-font-size	;
     }
  
  
   }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991px) { 

    ion-label{
      font-size: 22px;
    }

    ion-select{
      font-size: 22px;
    }

    h3 {
      font-size: 22px;
    }
  
    .button{
      padding-left: $button-md-padding-start;
      padding-right: $button-md-padding-end	;
      padding-top: $button-md-padding-top	;
      padding-bottom: $button-md-padding-bottom;
      font-size: $button-md-font-size	;
     }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199px) {

    ion-label{
      font-size: 24px;
    }

    ion-select{
      font-size: 24px;
    }

    h3 {
      font-size: 24px;
    }
    .button{
      padding-left: $button-md-padding-start;
      padding-right: $button-md-padding-end	;
      padding-top: $button-md-padding-top	;
      padding-bottom: $button-md-padding-bottom;
      font-size: $button-md-font-size	;
     }

   }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 
  
    ion-label{
      font-size: 26px;
    }

    ion-select{
      font-size: 26px;
    }

    h3 {
      font-size: 26px;
    }
  
    .button{
      padding-left: $button-md-large-padding-start;
      padding-right: $button-md-large-padding-end	;
      padding-top: $button-md-large-padding-top	;
      padding-bottom: $button-md-large-padding-bottom;
      font-size: $button-md-large-font-size	;
     }
  
   }
}